.App {
  text-align: center;
  padding: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-container {
  /* border: 3px solid black;
  border-radius: 8px; */
  padding: 5px;
  /* margin: 15px; */
}

.stack-container {
  /* border: 3px solid black;
  border-radius: 8px;
  overflow: scroll; */
}

.stack-list-item {
  margin: 20px;
}

.stack-item-content {
  padding: 5px;
  text-align: left;
  display: flex;
  justify-content: left;
}

.stack-item-name {
  flex-grow: 3;
}